.hover {
  cursor: pointer;
}

.image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image--caption {
  font-size: 14px;
  color: #555;
}

/* .splash {
  margin-bottom: 30px;
}

.splash--top-spacer {
  margin-top: 30px;
} */

details {
  background: #ddd;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
}

summary {
  cursor: pointer;
  font-weight: 700;
}

summary > * {
  display: inline;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

p {
  color: #000;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.footnote-ref {
  font-size: 12px;
  font-weight: 900;
  background: #000 !important;
  padding: 2px 5px 2px 5px;
  color: #fff !important;
  border-radius: 4px;
}

a.footnote-ref:hover,
a.footnote-ref:focus {
  text-decoration: none;
  color: #000 !important;
  background: #fff !important;
}

a.footnote-backref {
  font-size: 12px;
  font-weight: 900;
  background: #000 !important;
  padding: 2px 5px 2px 5px;
  color: #fff !important;
  border-radius: 4px;
  margin-left: 2px;
  position: relative;
  top: -0.3em;
  font-size: 80%;
}

.footnotes {
  margin-top: -30px;
}

.footnotes ol {
  margin-left: 20px;
  margin-right: 20px;
}

#references {
  margin-bottom: 30px;
  margin-left: -20px;
}

.aria-hidden {
  display: none;
}

/* .screenreader-text {
  position: absolute;
  display: none;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
} */

.skip-link {
  background: #fff;
  color: #000;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: translateY(0%);
}
